# ------------------------------

# Python Bytecode

# ------------------------------

**pycache**/
*.py[cod]
*$py.class

# ------------------------------

# Virtual Environment

# ------------------------------

venv/
.env/
.envrc

# ------------------------------

# Distribution / Packaging

# ------------------------------

build/
dist/
*.egg-info/
.eggs/

# ------------------------------

# Logs & Reports

# ------------------------------

*.log
logs/

# Pytest

.pytest_cache/

# Allure Reports

allure-results/
allure-report/
reports/
# ------------------------------

# IDE / Editor Files

# ------------------------------

.vscode/
.idea/
*.swp
*.swo

# ------------------------------

# OS Files

# ------------------------------

.DS_Store
Thumbs.db

# ------------------------------

# Environment Variables / Secrets

# ------------------------------

.env
*.env

# ------------------------------

# Coverage Reports

# ------------------------------

.coverage
htmlcov/

# ------------------------------

# Temporary Files

# ------------------------------

*.tmp
*.temp

# ------------------------------

# Database Files (if any)

# ------------------------------

*.sqlite3
db.sqlite3

# ------------------------------

# Misc

# ------------------------------

*.bak
*.old
